DATABASE_URL=postgres://<user>:<password>@<endpoint>.neon.tech/<db>?sslmode=require

# 32+ char random string for session cookie encryption
NUXT_SESSION_PASSWORD=
# Google OAuth 2.0 Web application credentials
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=
